@model PhotoBlog.Models.PhotoEntry[]

@{
    ViewBag.Title = "Photos Page";
}

@section CustomStyles {
    <!-- main CSS -->
    <link href="@Url.Content("~/Content/entry.css")" rel = "stylesheet" type = "text/css" />
}
<div class="row">
    @foreach (var photoEntry in Model)
    {
        <div class="col-md-12">
            <h2>@photoEntry.Title</h2>
            <figure>
                <img src="@photoEntry.Photo">
                <figcaption>@photoEntry.Description</figcaption>
            </figure>
    </div>
    }
</div>
